{% extends '_service.html' %}
{% load static %}

{% block seo %}
<title>Governance & Direction</title>
<meta name="description"
    content="We help you navigate the complexities of governance by offering strategic planning, risk
            management, board training, and..." />
<meta name="keywords" content="blog, insights, leadership advice, GoldOurs, governance trends, B-BBEE strategy, Governance & Direction" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Governance & Direction" />
<meta property="og:description"
    content="We help you navigate the complexities of governance by offering strategic planning, risk
            management, board training, and.." />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/service/service-4.jpg' %}">
{% endblock seo %}

{% block service_title %}
Governance & Direction
{% endblock service_title %}

{% block service_title_2 %}
Governance & Direction
{% endblock service_title_2 %}

{% block link %}
{% url 'goldours_home:governance-and-direction' %}{% endblock link %}

{% block service %}

<div class="col-xl-8 col-md-12 col-sm-12 col-12">
    <!-- service details left area start -->
    <div class="service-detials-step-1">
        <div class="thumbnail">
            <img src="{% static 'assets/images/service/service-4.jpg' %}" alt="Photo by Anna Tarazevich: https://www.pexels.com/photo/leadership-lettering-text-on-black-background-5598284/">
        </div>
        <h4 class="title">Governance & Direction</h4>
        <p class="disc">
            We help you navigate the complexities of governance by offering strategic planning, risk
            management, board training, and
            performance alignment, ensuring your organization's direction is set for success.

        </p>
        <p class="disc">
            We foster proactive leadership, build consensus on clear direction, prioritize strategically
            important projects, and
            improve relationships with stakeholders.
        </p>
        <div class="row g-5 mt--30 mb--40">
            <div class="col-lg-6">
                <!-- single service details card -->
                <div class="service-details-card">

                    <div class="details">
                        <h6 class="title">Strategy</h6>
                        <p class="disc">We help boards craft impactful strategies by aligning vision,
                            identifying key drivers, and setting measurable objectives
                            for success.</p>
                    </div>
                </div>
                <!-- single service details card End -->
            </div>
            <div class="col-lg-6">
                <!-- single service details card -->
                <div class="service-details-card">

                    <div class="details">
                        <h6 class="title">Risk management</h6>
                        <p class="disc">We identify and evaluate risks, enhancing readiness to mitigate
                            threats and seize opportunities effectively.</p>
                    </div>
                </div>
                <!-- single service details card End -->
            </div>
            <div class="col-lg-6">
                <!-- single service details card -->
                <div class="service-details-card">

                    <div class="details">
                        <h6 class="title">Performance management</h6>
                        <p class="disc">We create actionable plans to achieve goals, define roles, and
                            measure progress for sustained growth.</p>
                    </div>
                </div>
                <!-- single service details card End -->
            </div>

        </div>
        <p class="disc">
            GoldOurs has proudly supported numerous clients in achieving their strategic goals, including
            Central Energy Fund, Black
            Management Forum, SIRDAR, Re-Imagine SA, Realistic Child & Youth Care Centre, Dale College,
            Massive Quantum
            International, and Budget Partnership SA. With a proven track record of empowering
            organizations, we're here to guide
            you toward success. Let's uncover your potential together!
        </p>
    </div>

    <!-- service details left area end -->
    <div class="service-detials-step-3 mt--70 mt_md--50">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="thumbnail sm-thumb-service">
                    <img src="{% static 'assets/images/service/sm-01.jpg' %}" alt="Service">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb_md--20 mb_sm--20">
                <h4 class="title">Customer Benefits</h4>
                <p class="disc">Enjoy proactive leadership, clear direction, prioritized projects, and
                    stronger stakeholder relationships for lasting
                    success.</p>
                <div class="single-banifits">
                    <i class="far fa-check-circle"></i>
                    <span>Proactive leadership</span>
                </div>
                <div class="single-banifits">
                    <i class="far fa-check-circle"></i>
                    <span>Prioritising strategically
                        important projects</span>
                </div>
                <div class="single-banifits">
                    <i class="far fa-check-circle"></i>
                    <span>Consensus on Clear
                        Direction</span>
                </div>
                <div class="single-banifits">
                    <i class="far fa-check-circle"></i>
                    <span>Improving relationships
                        with stakeholders</span>
                </div>
            </div>
        </div>
    </div>
    <div class="rts-trusted-client mt--70 rts-section-gapBottom">
        <div class="">
            <div class="row">
                <div class="col-12">
                    <div class="title-area-client text-center">
                        <p class="client-title">Our Clients</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="client-wrapper-one">
                    <a href="#"><img src="{% static 'assets/images/clients/reimag.png' %}" alt="Reimagine SA logo"></a>
                    
                    <a href="#"><img src="{% static 'assets/images/clients/logo.svg' %}" alt="Black Management Forum logo"></a>
                    <a href="#"><img src="{% static 'assets/images/clients/Logo5.svg' %}" alt="Massive Quantum logo"></a>
                    <a href="#"><img src="{% static 'assets/images/clients/cef.webp' %}" alt="Central Energy Fund logo"></a>
                    <a href="#"><img src="{% static 'assets/images/clients/real.jpg' %}" class="bg-dark"
                            alt="Realistic Child & Youth Care Centre logo"></a>
                    <a href="#"><img src="{% static 'assets/images/clients/dale.png' %}" alt="Dale College logo"></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock service %}