{% extends '_base.html' %}
{% load static %}
{% load email_filters %}

{% block seo %}
    <script
        src="https://www.google.com/recaptcha/enterprise.js?render={{ site_key }}"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("contact-form-").submit();
            }

            function loadRecaptcha() {
                grecaptcha.enterprise.ready(function () {
                    grecaptcha.enterprise.execute('{{ site_key }}', {action: 'submit'}).then(function (token) {
                        document.getElementById('id_recaptcha_token').value = token;
                    });
                });
            }

            window.onload = loadRecaptcha;
        </script>
        <title>Contact Us - GoldOurs</title>
        <meta name="description"
            content="Learn about GoldOurs, a 100% Black-owned Level 1 B-BBEE contributor dedicated to empowering businesses and individuals through governance, leadership, and talent development." />
        <meta name="keywords"
            content="GoldOurs, about us, governance, B-BBEE contributor, leadership coaching, business consulting, contact goldours, contacts" />
        <link rel="canonical" href="{{ request.build_absolute_uri }}" />
        <meta property="og:title" content="Contact Us - GoldOurs" />
        <meta property="og:description"
            content="Explore GoldOurs' mission, vision, and values in driving impactful growth and excellence." />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image"
            content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/logo/logo-2.png' %}">
        <meta name="author" content="GoldOurs Team">
        <meta name="robots" content="index, nofollow">
        <meta name="language" content="en">
        <meta name="revisit-after" content="7 days">
        <meta name="distribution" content="global">
        
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="GoldOurs | Unlocking Potential for Growth and Excellence">
        <meta name="twitter:description"
            content="Explore GoldOurs' mission, vision, and values in driving impactful growth and excellence.">
        <meta name="twitter:image"
            content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/logo/logo-2.png' %}">
        <meta name="twitter:site" content="{{ request.build_absolute_uri }}">
        <meta name="twitter:creator" content="@GoldOursOfficial">
{% endblock seo %}

{% block content %}

<!-- start breadcrumb area -->
<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h1 class="title">Contact Us</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="{% url 'goldours_home:goldours-home' %}">Home</a>
                    <span> / </span>
                    <a href="{% url 'goldours_home:contact' %}" class="active">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->


<!-- contact single area start -->
<div class="rts-contact-area rts-section-gap">
    <div class="container">
        <div class="row g-5">
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail tw-overflow-hidden tw-h-[150px]">
                        <img src="{% static 'assets/images/contact/call.svg' %}" alt="Call BBGI">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'assets/images/contact/shape/01.svg' %}" alt="Call Icon">
                        </div>
                        <div class="info">
                            <span>Call Us 24/7</span>
                            <a href="tel:{{ '0215259188'|obfuscate_phone|safe }}">
                                <h5>{{ '0215259188'|obfuscate_phone|safe }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail tw-overflow-hidden tw-h-[150px]">
                        <img src="{% static 'assets/images/contact/mail.svg' %}" alt="Email Goldours">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'assets/images/contact/shape/02.svg' %}" alt="Email Icon">
                        </div>
                        <div class="info">
                            <span>Want A Quote?</span>
                            <a href="emailto:{{ 'info@goldours.co.za'|obfuscate|safe }}">
                                <h5>{{ 'info@goldours.co.za'|obfuscate|safe }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail tw-overflow-hidden tw-h-[150px]">
                        <img src="{% static 'assets/images/contact/location.svg' %}" alt="Find Goldours">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'assets/images/contact/shape/03.svg' %}" alt="Location Icon">
                        </div>
                        <div class="info">
                            <span>Service Station</span>
                            <a href="https://maps.app.goo.gl/Hha9YFwzbMEMQy9q7" target="_blank" rel="noopener noreferrer">
                                <h5>Century City, Cape Town, 7441</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
        </div>
    </div>
</div>
<!-- conact single area end -->

<!-- bizup map area start -->
<div class="rts-contact-map-area">
    <div class="contaciner-fluid">
        <div class="row">
            <div class="col-12">
                <div class="contact-map-area-fluid">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.8552267731684!2d18.5044565!3d-33.8933822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5c174917e0c5%3A0x48cc357fd4ac8952!2sGoldOurs%20Strategy%2C%20Governance%2C%20and%20Business%20Leadership%20Development!5e0!3m2!1sen!2sza!4v1737817470185!5m2!1sen!2sza"
                         style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img class="location" src="https://goldours.co.za/wp-content/uploads/2023/03/goldours-favicon.png' %}"
                        alt="Business_map">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bizup map area end -->


<!-- conact us form fluid start -->
<div class="rts-contact-form-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-contact-fluid rts-section-gap">
                    <div class="rts-title-area contact-fluid text-center mb--50">
                        <p class="pre-title">
                            Get In Touch
                        </p>
                        <h2 class="title">Needs Help? Let's Get in Touch</h2>
                    </div>
                    <div class="form-wrapper">
                        <div id="form-messages"></div>
                        <form id="contact-form-" method="post">
                            {% csrf_token %}
                            
                            <div class="name-email">
                                <input type="text" placeholder="Your Name" name="name" required>
                                <input type="email" placeholder="Email Address" name="from_email" required>
                            </div>
                            <div class="name-email">
                                <input type="tel" placeholder="Your Number" name="phone" required>
                                <input type="text" placeholder="Business Topic" name="subject" required>
                            </div>
                            
                            <textarea placeholder="Type Your Message" name="message"></textarea>
                            {{form.recaptcha_token}}
                            
                            <button type="submit" class="g-recaptcha rts-btn btn-primary" data-sitekey="{{ site_key }}" data-callback='onSubmit'
                                data-action='submit'>
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- conact us form fluid end -->

{% endblock content %}

{% block js %}
<!-- Replace the variables below. -->

{% endblock js %}