{% extends '_policy.html' %}
{% load static %}

{% block seo %}
<title>Goldours Cookie Policy</title>
<meta name="description"
    content="GoldOurs empowers businesses to embrace transformation and achieve compliance with our comprehensive Goldours Cookie Policy services.." />
<meta name="keywords"
    content="blog, insights, leadership advice, GoldOurs, B-BBEE strategy, B-BBEE Consulting, BBBEE Training, bbbee, black business empowerement, B-BBEE audit" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Goldours Cookie Policy" />
<meta property="og:description"
    content="GoldOurs empowers businesses to embrace transformation and achieve compliance with our comprehensive Goldours Cookie Policy services.." />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:image"
    content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/service/service-1.jpg' %}">
{% endblock seo %}

{% block service_title %}
Goldours Cookie Policy
{% endblock service_title %}

{% block service_title_2 %}
Goldours Cookie Policy
{% endblock service_title_2 %}

{% block link %}
{% url 'goldours_home:policy' %}
{% endblock link %}

{% block service %}
<div class="col-xl-8 col-md-12 col-sm-12 col-12">
    <h3 class="title">Cookie Policy</h3>
    {{policy.content|safe}}
</div>
{% endblock service %}