{% extends '_base.html' %}
{% load static %}
{% load email_filters %}

{% block seo %}
<title>Asset Management Online Course</title>
<meta name="description"
    content="This course will equip you with the practical skills and strategic insights to manage and grow your assets for long-term financial success." />
<meta name="keywords"
    content="GoldOurs, about us, governance, B-BBEE contributor, Asset management online course, Asset management Cape Town, leadership coaching, business consulting, contact goldours, contacts" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Asset Management Online Course" />
<meta property="og:description"
    content="This course will equip you with the practical skills and strategic insights to manage and grow your assets for long-term financial success." />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:image"
    content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/logo/logo.png' %}">
<meta name="author" content="GoldOurs Team">
<meta name="robots" content="index, nofollow">
<meta name="language" content="en">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="global">


<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Asset Management Online Course">
<meta name="twitter:description"
    content="This course will equip you with the practical skills and strategic insights to manage and grow your assets for long-term financial success.">
<meta name="twitter:image"
    content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/logo/logo.png' %}">
<meta name="twitter:site" content="{{ request.build_absolute_uri }}">
<meta name="twitter:creator" content="@GoldOursOfficial">
{% endblock seo %}

{% block content %}
<!-- start breadcrumb area -->
<div class="banner-area-nine bg_image">
    <div class="inner">
        <div class="banner-image-right-top">
            <img src="{% static 'assets/images/banner/banner-12.png' %}" alt="banner_image">
        </div>
        <div class="banner-image-left-bottom">
            <img src="{% static 'assets/images/banner/banner-13.png' %}" alt="banner_image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-inner-content">
                        <div class="main-wrapper">
                            <h1 class="title">Mastering Physical <br> Asset Accounting.</h1>
                            <p class="disc">
                                Join us for an intensive, two-hour online course designed to empower you with the strategic skills needed to excel in asset and facilities management.
                            </p>
                            
                            

                            <div class="dropdown rts-btn-cont tw-w-fit">
                                <button class="dropdown-toggle rts-btn btn-nine  tw-w-fit" type="button" id="bookSeatDropdown" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Book Your Seat Now
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="bookSeatDropdown">
                                    <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://www.quicket.co.za/events/333479-master-the-art-of-asset-management-10-sept/">12 September, 7 pm</a></li>
                                    <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://www.quicket.co.za/events/333484-master-the-art-of-asset-management-13-sept/">13 September, 10 am</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->


<!-- project details image area -->
<div class="rts-project-details-area rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center title-area-nine">
                    <p class="pre-title">
                        Course Overview
                    </p>
                    <h2 class="title">Course Details & Key Takeaways</h2>
                </div>
            </div>
        </div>
        <div class="row g-5 mt-20 mb--10">
            <div class="col-12">
                <h3 class="title mb--0">1. Main benefit of the course</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        understand the lifecycle of assets from acquisition, to maintenance, depreciation, budgeting and replacement.
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Link asset management to the strategic and operational objectives
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Improve your ability to communicate asset management needs including budgeting, insurance, security, and operational
                        delivery
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Enhance your strategic contribution as an asset or facilities manager
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Understand accounting terms and concepts for managing assets
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Get an idea of the importance of assets and facilities management as a stepping stone for career progression
                    </p>
                </div>
            </div>
        </div>
        <div class="rts-callto-acation-area rts-callto-acation-area4 bg-call-to-action-two">
            <div class="container">
                <div class="row tw-p-2">
                    <div class="col-12">
                        <div class="cta-two-wrapper">
                            <div class="title-area">
                                <h3 class="title animated fadeIn tw-text-custom-primary">Ready to Invest in Your Future?</h3>
                                <p class="tw-text-white">Spaces are limited. Secure your spot in the Asset Management online
                                    course today.</p>
                            </div>
                            <div class="dropdown tw-w-fit">
                                <button class="dropdown-toggle rts-btn btn-nine  tw-w-fit" type="button" id="bookSeatDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    BOOK NOW
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="bookSeatDropdown">
                                    <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer"
                                            href="https://www.quicket.co.za/events/333479-master-the-art-of-asset-management-10-sept/">12
                                            September, 7 pm</a></li>
                                    <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer"
                                            href="https://www.quicket.co.za/events/333484-master-the-art-of-asset-management-13-sept/">13
                                            September, 10 am</a></li>
                                </ul>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 mt--20">
            <div class="col-12">
                <h3 class="title mb--0">2. Things That You Will Learn</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        The asset management value chain
                       
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Systems and processes for managing assets
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Accounting, tax, and insurance implications of asset management processes and methodologies
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Audit readiness
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">Prevention, detection, and investigation of damage, abuse or loss of asset
                
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Enhance your strategic contribution as an asset or facilities manager
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Understand accounting terms and concepts for managing assets
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">
                        Key concepts such as depreciation , impairment, and fair values
                    </p>
                </div>
                <div class="single-project-details-challenge">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="details">Prevention, detection, and investigation of damage, abuse or loss of asset
                        About the different classes and categories of assets and how to account for them
                    </p>
                </div>
                
            </div>
        </div>
        
        <div class="working-process-area rts-section-gap working-process-bg">
            <div class="container">
                <div class="row">
                    <div class="title-area text-center working-process">
                        <span>Learning Steps</span>
                        <h2 class="title">Your Online Learning Journey</h2>
                    </div>
                </div>
                <div class="mt--20 tw-flex tw-flex-wrap tw-items-center tw-justify-center md:tw-justify-between">
                    <div class="">
                        <!-- single wirking process -->
                        <div class="rts-working-process-1 text-center">
                            <div class="inner">
                                <div class="tw-w-20 tw-h-20">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#D4A841" d="M128.1 64C92.8 64 64.1 92.7 64.1 128L64.1 512C64.1 547.3 92.8 576 128.1 576L274.3 576L285.2 521.5C289.5 499.8 300.2 479.9 315.8 464.3L448 332.1L448 234.6C448 217.6 441.3 201.3 429.3 189.3L322.8 82.7C310.8 70.7 294.5 64 277.6 64L128.1 64zM389.6 240L296.1 240C282.8 240 272.1 229.3 272.1 216L272.1 122.5L389.6 240zM332.3 530.9L320.4 590.5C320.2 591.4 320.1 592.4 320.1 593.4C320.1 601.4 326.6 608 334.7 608C335.7 608 336.6 607.9 337.6 607.7L397.2 595.8C409.6 593.3 421 587.2 429.9 578.3L548.8 459.4L468.8 379.4L349.9 498.3C341 507.2 334.9 518.6 332.4 531zM600.1 407.9C622.2 385.8 622.2 350 600.1 327.9C578 305.8 542.2 305.8 520.1 327.9L491.3 356.7L571.3 436.7L600.1 407.9z"/></svg>
                                </div>
                            </div>
                            <div class="content tw-text-center">
                                <h6 class="title">Register</h6>
                                <p class="disc tw-text-center">
                                    Sign up and gain instant <br> access to our online portal.
                                </p>
                            </div>
                        </div>
                        <!-- single wirking process End -->
                    </div>
                    <div class="">
                        <!-- single wirking process -->
                        <div class="rts-working-process-1 text-center">
                            <div class="inner two">
                                <div class="tw-w-20 tw-h-20">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#D4A841"
                                            d="M96 128C96 92.7 124.7 64 160 64L448 64C483.3 64 512 92.7 512 128L512 176L448 176L448 128L160 128L160 320L272 320L272 416L108.8 416C66.4 416 32 381.6 32 339.2C32 328.6 40.6 320 51.2 320L96 320L96 128zM561.9 321.9C570.9 330.9 576 343.1 576 355.8L576 528C576 554.5 554.5 576 528 576L368 576C341.5 576 320 554.5 320 528L320 272C320 245.5 341.5 224 368 224L444.1 224C456.8 224 469 229.1 478 238.1C498 258.1 525.9 286 561.9 322zM448 336C448 344.8 455.2 352 464 352L524.1 352L448 275.9L448 336z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content tw-text-center">
                                <h6 class="title">Learn Online</h6>
                                <p class="disc tw-text-center">
                                    Join a live, 2-hours interactive season <br> from the comfort of your home.
                                </p>
                            </div>
                        </div>
                        <!-- single wirking process End -->
                    </div>
                    <div class="">
                        <!-- single wirking process -->
                        <div class="rts-working-process-1 text-center">
                            <div class="inner three">
                                <div class="tw-w-20 tw-h-20">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#D4A841"
                                            d="M80 259.8L289.2 345.9C299 349.9 309.4 352 320 352C330.6 352 341 349.9 350.8 345.9L593.2 246.1C602.2 242.4 608 233.7 608 224C608 214.3 602.2 205.6 593.2 201.9L350.8 102.1C341 98.1 330.6 96 320 96C309.4 96 299 98.1 289.2 102.1L46.8 201.9C37.8 205.6 32 214.3 32 224L32 520C32 533.3 42.7 544 56 544C69.3 544 80 533.3 80 520L80 259.8zM128 331.5L128 448C128 501 214 544 320 544C426 544 512 501 512 448L512 331.4L369.1 390.3C353.5 396.7 336.9 400 320 400C303.1 400 286.5 396.7 270.9 390.3L128 331.4z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content tw-text-center">
                                <h6 class="title">Earn Your Certificate</h6>
                                <p class="disc tw-text-center">
                                    Receive a professional certificate of <br> attendance to showcase your new skills.
                                </p>
                            </div>
                        </div>
                        <!-- single wirking process End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project details image area end -->


{% endblock content %}
