{% extends '_base.html' %}
{% load static %}
{% load email_filters %}

{% block content %}
<!-- banner blank space area -->
<div class="rts-banner-area banner-three">
    <div class="swiper mySwiperh3_banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class=" bg_banner-three bg_image rts-section-gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="banner-three-inner">
                                    <span class="subtitle-banner">Empowering Growth & Excellence</span>
                                    <!-- type headline start-->
                                    <h1 class="title cd-headline clip is-full-width">
                                        Unearth Your Potential
                                    </h1>
                                    <p class="disc">
                                        Partner with us to uncover the gold within you or your organization. From
                                        governance and strategy to coaching and
                                        training, we help you shine brighter in your industry.
                                    </p>
                                    <div class="button-group">
                                        
                                        <a href="{% url 'goldours_home:about-goldours' %}"
                                            class="rts-btn btn-primary-3 transparent">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class=" bg_banner-three slide-2 bg_image rts-section-gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="banner-three-inner">
                                    <span class="subtitle-banner">Make Your Strategy Strong</span>
                                    <!-- type headline start-->
                                    <h2 class="title cd-headline clip is-full-width">
                                        Empower. Transform. Lead.
                                    </h2>
                                    <p class="disc">
                                        Equip your leadership team with tools for success through coaching, strategy
                                        facilitation, and governance solutions.
                                        Together, we build a legacy of excellence.
                                    </p>
                                    <div class="button-group">
                                        <a href="{% url 'goldours_home:all-services' %}"
                                            class="rts-btn btn-primary-3">Explore Our Services</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class=" bg_banner-three slide-3 bg_image rts-section-gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="banner-three-inner">
                                    <span class="subtitle-banner">Goldours</span>
                                    <!-- type headline start-->
                                    <h2 class="title cd-headline clip is-full-width">
                                        Sustain. Grow. Thrive.
                                    </h2>
                                    <p class="disc">
                                        Discover innovative ways to grow your business through risk management, internal
                                        controls, and financial insights. Let
                                        us help you achieve lasting success.
                                    </p>
                                    <div class="button-group">
                                        <a href="{% url 'goldours_home:contact' %}"
                                            class="rts-btn btn-primary-3">Contact Us</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner blank space area end -->

<!-- rts about us section start -->
<div class="rts-about-area rts-section-gap bg-about-sm-shape">
    <div class="container">
        <div class="row g-5 align-items-center">
            <!-- about left -->
            <div
                class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50">
                <div class="rts-title-area">
                    <p class="pre-title">
                        More About Us
                    </p>
                    <h2 class="title">Unearthing Potential, Shaping Futures</h2>
                </div>
                <div class="about-inner">
                    <p class="disc">
                        At GoldOurs, we uncover the gold within individuals and organizations to benefit society. As a
                        100% Black-owned, Level 1
                        B-BBEE contributor, we deliver expertise in governance, strategy, and leadership through a team
                        of qualified
                        professionals. Guided by integrity, we foster sustainable growth, empower communities, and give
                        back through charitable
                        partnerships and graduate support.
                    </p>
                    <!-- start about success area -->
                    <div class="row about-success-wrapper">
                        <!-- left wrapper start -->
                        <div class="col-lg-6 col-md-6">
                            
                            <div class="single">
                                <i class="far fa-check"></i>
                                <p class="details">Great Skilled Consultant</p>
                            </div>
                            <div class="single">
                                <i class="far fa-check"></i>
                                <p class="details">Expert Team Members</p>
                            </div>
                        </div>
                        <!-- left wrapper end -->
                        <div class="col-lg-6 col-md-6">
                            <div class="single">
                                <i class="far fa-check"></i>
                                <p class="details">100% Black-owned
                                </p>
                            </div>
                            <div class="single">
                                <i class="far fa-check"></i>
                                <p class="details">Level 1 B-BBEE contributor</p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- start about success area -->

                    <!-- about founder & get in touch start -->
                    <div class="row about-founder-wrapper align-items-center mt--40">
                        <!-- left area start -->
                        
                        <!-- left area end -->
                        <!-- right founder area -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_sm--20">
                            <div class="author-call-option">
                                <img class="authore-call" src="{% static 'assets/images/about/call.svg' %}"
                                    alt="call_founder">
                                <div class="call-details">
                                    <span>Call us anytime</span>
                                    <a href="tel:{{ '0215259188'|obfuscate_phone|safe }}">
                                        <h6 class="title">{{ '0215259188'|obfuscate_phone|safe }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- left founder area -->
                    </div>
                    <!-- about founder & get in touch end -->
                </div>
            </div>
            <!-- about right -->

            <!-- about-right Start-->
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                <div class="about-one-thumbnail">
                    <img src="{% static 'assets/images/about/main/about-01.jpg' %}" alt="about-Goldours" class="abt-one md:tw-w-[490px] tw-h-[550px] tw-shadow-2xl tw-rounded-xl">
                    <img src="{% static 'assets/images/img2.jpg' %}"
                        alt="Goldours-small" class="abt-two small-img  tw-rounded-xl tw-w-[270px] tw-h-[237px] tw-object-contain">
                    <div class="experience">
                        <div class="left single">
                            <h2 class="title">7+</h2>
                            <p class="time">Years</p>
                        </div>
                        <div class="right single">
                            <p class="disc">
                                Of experience
                                in consulting
                                service
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-right end -->
        </div>
    </div>
</div>
<!-- rts about us section end -->

<!-- rts service post area  Start-->
<div class="rts-service-area rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-title-area service text-center">
                    <p class="pre-title">
                        Our Services
                    </p>
                    <h2 class="title">High Quality Services</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid service-main plr--120-service  plr_md--0 pl_sm--0 pr_sm--0">
        <div class="background-service tw-grid tw-justify-center tw-items-center tw-grid-cols-1 md:tw-grid-cols-2">
            <!-- start single Service -->
            <div class="">
                <div class="service-one-inner one">
                    <div class="thumbnail">
                        <img src="{% static 'assets/images/service/icon/01.svg' %}" alt="Goldours_service">
                    </div>
                    <div class="service-details">
                        <a href="{% url 'goldours_home:governance-and-direction' %}">
                            <h5 class="title">Governance & direction</h5>
                        </a>
                        <p class="disc">
                            Strategic planning, risk management, and board training to drive organizational success.
                        </p>
                        <a class="rts-read-more btn-primary"
                            href="{% url 'goldours_home:governance-and-direction' %}"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->
            <!-- start single Service -->
            <div class="">
                <div class="service-one-inner two">
                    <div class="thumbnail">
                        <img src="{% static 'assets/images/service/icon/04.svg' %}" alt="Goldours_service">
                    </div>
                    <div class="service-details">
                        <a href="{% url 'goldours_home:talent-management-and-development' %}">
                            <h5 class="title">Talent Management & Development</h5>
                        </a>
                        <p class="disc">
                            Building leadership skills, managing performance, and fostering organizational growth.
                        </p>
                        <a class="rts-read-more btn-primary"
                            href="{% url 'goldours_home:talent-management-and-development' %}"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->
            <!-- start single Service -->
            <div class="">
                <div class="service-one-inner three">
                    <div class="thumbnail">
                        <img src="{% static 'assets/images/service/icon/03.svg' %}" alt="Goldours_service">
                    </div>
                    <div class="service-details">
                        <a href="{% url 'goldours_home:systems-reviews-and-assurance' %}">
                            <h5 class="title">Systems, Reviews & Assurance</h5>
                        </a>
                        <p class="disc">
                            Ensuring business continuity, compliance, and reliable financial reporting.

                        </p>
                        <a class="rts-read-more btn-primary"
                            href="{% url 'goldours_home:systems-reviews-and-assurance' %}"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->
            <!-- start single Service -->
            <div class="">
                <div class="service-one-inner four">
                    <div class="thumbnail">
                        <img src="{% static 'assets/images/service/icon/06.svg' %}" alt="Goldours_service">
                    </div>
                    <div class="service-details">
                        <a href="{% url 'goldours_home:bbbee-consulting-and-training' %}">
                            <h5 class="title">B-BBEE Consulting & Training</h5>
                        </a>
                        <p class="disc">
                            Supporting strategy development, implementation, and B-BBEE audit processes.
                        </p>
                        <a class="rts-read-more btn-primary"
                            href="{% url 'goldours_home:bbbee-consulting-and-training' %}"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->

            <!-- end single Services -->
        </div>
        <div class="row">
            <div class="cta-one-bg col-12">
                <div class="cta-one-inner">
                    <div class="cta-left">
                        <h3 class="title">Let's discuss about how we can help
                            make your organisation better</h3>
                    </div>
                    <div class="cta-right">
                        <a class="rts-btn btn-white" href="{% url 'goldours_home:contact' %}">Let's Work Together</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts service post area ENd -->

<!-- business goal area -->
<div class="rts-business-goal mt--0 rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <!-- business goal left -->
            <div class="col-lg-6">
                <div class="business-goal-one">
                    <img src="{% static 'assets/images/business-goal/001.jpg' %}" alt="Business_Goal" class="lg:tw-w-[500px] tw-h-[566px] tw-rounded-xl tw-object-contain">
                    <img class="small tw-w-[200px] tw-object-contain tw-border-8 tw-border-white tw-border-solid tw-shadow-lg tw-rounded-lg" src="{% static 'assets/images/img.jpg' %}" alt="Business_Goal">
                </div>
            </div>
            <!-- business goal right -->

            <!-- right area business -->
            <div class="col-lg-6 mt--35 mt_md--70 mt_sm--70">
                <div class="business-goal-right">
                    <div class="rts-title-area business text-start pl--30">
                        <p class="pre-title">
                            Why Choose Us?
                        </p>
                        <h2 class="title">Future-proof your organisation & career</h2>
                    </div>
                    <div class="rts-business-goal pl--30">
                        <div class="single-goal">
                            <img src="{% static 'assets/images/business-goal/icon/01.svg' %}" alt="business_Icone"
                                class="thumb">
                            <div class="goal-wrapper">
                                <h6 class="title">Expert Minds, Exceptional Results</h6>
                                <p class="disc">Our team of seasoned professionals brings years of expertise and a
                                    passion for excellence, ensuring tailored solutions
                                    that drive success and transformation.</p>
                            </div>
                        </div>
                        <div class="single-goal">
                            <img src="{% static 'assets/images/business-goal/icon/02.svg' %}" alt="business_Icone"
                                class="thumb">
                            <div class="goal-wrapper">
                                <h6 class="title">Support Around the Clock</h6>
                                <p class="disc">With greate support, we're always here for you. No matter the time, our
                                    dedicated team ensures your needs are met promptly
                                    and efficiently.</p>
                            </div>
                        </div>
                        <div class="goal-button-wrapper mt--70">
                            <a href="{% url 'goldours_home:contact' %}"
                                class="rts-btn btn-primary color-h-black">Contact Us</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- right area business ENd -->
        </div>
    </div>
</div>
<!-- business goal area End -->

<!-- rts-counter up area start -->
<div class="rts-counter-up-area rts-section-gap counter-bg">
    <div class="container">
        <div class="row">
            <!-- counter up area -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-counter">
                    <img src="{% static 'assets/images/counterup/icon/01.svg' %}" alt="Business_counter">
                    <div class="counter-details">
                        <h2 class="title"><span class="counter animated fadeInDownBig">40</span></h2>
                        <p class="disc">Successful Projects</p>
                    </div>
                </div>
            </div>
            <!-- counter up area -->
            <!-- counter up area -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-counter pl--10 justify-content-center two pl--30">
                    <img src="{% static 'assets/images/counterup/icon/02.svg' %}" alt="Business_counter">
                    <div class="counter-details">
                        <h2 class="title"><span class="counter animated fadeInDownBig">20</span></h2>
                        <p class="disc">Media Activities</p>
                    </div>
                </div>
            </div>
            <!-- counter up area -->
            <!-- counter up area -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-counter pl--10 justify-content-center three pl--50">
                    <img src="{% static 'assets/images/counterup/icon/03.svg' %}" alt="Business_counter">
                    <div class="counter-details">
                        <h2 class="title"><span class="counter animated fadeInDownBig">20</span></h2>
                        <p class="disc">Skilled Experts</p>
                    </div>
                </div>
            </div>
            <!-- counter up area -->
            <!-- counter up area -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-counter pl--10 justify-content-end four">
                    <img src="{% static 'assets/images/counterup/icon/04.svg' %}" alt="Business_counter">
                    <div class="counter-details">
                        <h2 class="title"><span class="counter animated fadeInDownBig">30</span></h2>
                        <p class="disc">Happy Clients</p>
                    </div>
                </div>
            </div>
            <!-- counter up area -->
        </div>
    </div>
</div>
<!-- rts-counter up area end -->

<!-- start gallery section -->
<div class="rts-gallery-area rts-section-gap gallery-bg bg_image">
    <div class="container">
        <div class="row">
            <div class="rts-title-area gallery text-start pl_sm--20">
                <p class="pre-title">
                    Our Contributions
                </p>
                <h2 class="title">Corporate Social Responsibility</h2>
            </div>
        </div>
        <div class="row mt--45">
            <div class="col-12">
                <div class="swiper mygallery mySwipers">
                    <div class="swiper-wrapper gallery">
                        <div class="swiper-slide">
                            <div class="row g-5 w-g-100">
                                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="thumbnail-gallery">
                                        <img src="{% static 'assets/images/gallery/gallery-01.jpg' %}"
                                            alt="Photo by cottonbro studio: https://www.pexels.com/photo/a-volunteer-carrying-a-box-of-donations-6591164/">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="bg-right-gallery">
                                        
                                        <a href="#">
                                            <h4 class="title">Partnering with Charities</h4>
                                        </a>
                                        <span>Case Study, Growth</span>
                                        <p class="disc">We collaborate with charities in underserved areas, providing
                                            vital support and fostering sustainable community growth.
                                            Our focus is on creating meaningful change where it's needed most.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row g-5 w-g-100">
                                <div class="col-lg-7">
                                    <div class="thumbnail-gallery">
                                        <img src="{% static 'assets/images/img9.jpg' %}"
                                            alt="Photo by fauxels: https://www.pexels.com/photo/man-and-woman-shaking-hands-3182767/">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="bg-right-gallery">
                                        
                                        <a href="">
                                            <h4 class="title">Empowering Unemployed Youth</h4>
                                        </a>
                                        <span>Case Study, Growth</span>
                                        <p class="disc">Through tailored programs and workshops, we equip unemployed
                                            youth with skills and opportunities to improve their career
                                            prospects and secure a brighter future.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row g-5 w-g-100">
                                <div class="col-lg-7">
                                    <div class="thumbnail-gallery">
                                        <img src="{% static 'assets/images/clients/logo.jpeg' %}"
                                            alt="Black Business Growth Initiative">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="bg-right-gallery">
                                        
                                        <a href="#">
                                            <h4 class="title">Sponsorship for Black Business Growth Initiative (BBGI)
                                            </h4>
                                        </a>
                                        <span>Case Study, Growth</span>
                                        <p class="disc">We proudly sponsor <a href="https://bbgi.co.za" target="_blank" rel="noopener noreferrer" class="tw-text-custom-primary tw-font-bold tw-underline">BBGI</a> to promote entrepreneurship, support
                                            black-owned businesses, and drive economic transformation
                                            in South Africa.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row g-5 w-g-100">
                                <div class="col-lg-7">
                                    <div class="thumbnail-gallery">
                                        <img src="{% static 'assets/images/gallery/gallery-03.jpg' %}"
                                            alt="business-images">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="bg-right-gallery">
                                        
                                        <a href="#">
                                            <h4 class="title">Internship Opportunities for Graduates</h4>
                                        </a>
                                        <span>Case Study, Careers</span>
                                        <p class="disc">Our internship programs open doors for prospective graduates to
                                            gain valuable workplace experience, preparing them for
                                            success in their chosen careers.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start gallery section -->

<!-- start trusted client section -->
<div class="rts-trusted-client rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-area-client text-center">
                    <p class="client-title">Our Accreditation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="client-wrapper-one">
                <a href="#"><img src="{% static 'assets/images/brands/qcto_logo.svg' %}" alt="QCTO logo"></a>
                <a href="#"><img src="{% static 'assets/images/brands/fasset.jpg' %}" alt="Fasset logo"></a>
                <a href="#"><img src="{% static 'assets/images/brands/saiga.png' %}" alt="SAIGA logo"></a>

            </div>
        </div>
    </div>
</div>
<!-- end trusted client section -->

<!-- rts features area start -->
<div class="rts-feature-area rts-section-gap">
    <div class="container-fluid padding-controler plr--120">
        <div class="row bg-white-feature  pt--120 pb--120">
            <div class="col-xl-6 col-lg-12">
                <div class="feature-left-area">
                    <img src="{% static 'assets/images/feature/01.png' %}" alt="Team on phone">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="rts-title-area feature text-start pl--30 pl_sm--0">
                    <p class="pre-title">
                        Our Team
                    </p>
                    <h2 class="title feature-title">We bring fresh insights to shape your future.</h2>
                    <p>
                    
                    At GoldOurs, our team is the cornerstone of our success, bringing together over 20 seasoned professionals with diverse
                    expertise across all <a href="{% url 'goldours_home:all-services' %}"><strong>our services</strong></a>. With an average of 15+ years
                    in private and public sectors and affiliations with esteemed bodies such as SAICA, COMENSA, IODSA, and IRBA, our team
                    combines practical experience, academic excellence, and innovative thinking. Armed with advanced qualifications,
                    including MBAs, PhDs, and Chartered Accountancy credentials, we are dedicated to empowering organizations with
                    strategies, compliance solutions, and leadership development that drive sustainable growth and transformation.</p>

                </div>

                <!-- <div class="feature-one-wrapper pl--30 mt--40 pl_sm--0">
                    <div class="single-feature-one">
                        <i class="fal fa-check"></i>
                        <p>Fast Growing Sells</p>
                    </div>
                    <div class="single-feature-one">
                        <i class="fal fa-check"></i>
                        <p>24/7 Quality Services</p>
                    </div>
                    <div class="single-feature-one">
                        <i class="fal fa-check"></i>
                        <p>Expert Members</p>
                    </div>
                    <div class="single-feature-one">
                        <i class="fal fa-check"></i>
                        <p>Best Quality Services</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- rts features area end -->

<!-- start client feed back section -->
<div class="rts-client-feedback">
    <div class="container">
        <div class="row">
            <!-- start testimonials area -->
            <div class="col-lg-7">
                <div class="rts-title-area reviews text-start pl--30 pt--70">
                    <p class="pre-title">
                        Our Testimonials
                    </p>
                    <h2 class="title">Client's Feedbacks</h2>

                    <!-- swiper area start -->
                    <div class="swiper mySwipertestimonial">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-inner">
                                    <p class="disc text-start">
                                        “The benefits were beyond what we were expecting! We gained invaluable insights
                                        into accounting, finances, and strategic
                                        alignment, enabling us to track our financial health effectively. Thanks to
                                        GoldOurs, we're now tax compliant and ready
                                        to grow. It's a transformative experience I'd recommend to anyone!”
                                    </p>
                                    <div class="testimonial-bottom-one">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets/images/R.png' %}"
                                                alt="business-testimonials">
                                        </div>
                                        <div class="details">
                                            <a href="#">
                                                <h5 class="title">Mazana Security Services</h5>
                                            </a>
                                            <span>Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-inner">
                                    <p class="disc text-start">
                                        “GoldOurs clarified our strategic direction and key business drivers. Their
                                        management account reviews help us spot and
                                        correct issues in real-time. Partnering with GoldOurs has been incredibly
                                        valuable—I highly recommend them.”
                                    </p>
                                    <div class="testimonial-bottom-one">
                                        <div class="thumbnail">
                                            <img src="https://yongonakho.co.za/wp-content/uploads/2020/02/yascolor05.png}"
                                                alt="Yongonakho Advisory Services logo">
                                        </div>
                                        <div class="details">
                                            <a href="#">
                                                <h5 class="title">Yongonakho Advisory Services (Pty) Ltd</h5>
                                            </a>
                                            <span>Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-inner">
                                    <p class="disc text-start">
                                        “For the first time, we truly understand our company's finances. GoldOurs
                                        provides excellent accounting services and
                                        connects us with experts in specialized areas, helping us achieve sustainable
                                        growth. It's been an extraordinary
                                        journey.”
                                    </p>
                                    <div class="testimonial-bottom-one">
                                        <div class="thumbnail">
                                            <img src="https://scontent.fdur8-1.fna.fbcdn.net/v/t39.30808-1/304036200_443818011097390_4032199104880527804_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeGUW5AXz20MG7br0r0AJ5P5Morr-CoyDZoyiuv4KjINmph2gpc9gttM6I1mm3VRC7Vai1OXg8k7f6T8n9uJcGfl&_nc_ohc=G2BnBoXqzZMQ7kNvgGNHgkr&_nc_zt=24&_nc_ht=scontent.fdur8-1.fna&_nc_gid=AQ9WR1cy65yt0ZzWN_C35pI&oh=00_AYCMOoibJW8xMjtP3TQHF9To2SzvJuSpSpIvn84bHyDA2g&oe=67871E16"
                                                alt="Kuhle Apha (Pty) Ltd">
                                        </div>
                                        <div class="details">
                                            <a href="#">
                                                <h5 class="title">Kuhle Apha (Pty) Ltd</h5>
                                            </a>
                                            <span>Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-inner">
                                    <p class="disc text-start">
                                        “If you want to grow and sustain your business, GoldOurs is the way to go. Their
                                        multi-dimensional approach covers
                                        strategy, team cohesion, and operational efficiency. Monthly management reviews
                                        have deepened our understanding of our
                                        business in ways we never imagined.”
                                    </p>
                                    <div class="testimonial-bottom-one">
                                        <div class="thumbnail">
                                            <img src="https://khwaza.com/wp-content/uploads/2022/07/KHWAZA-logo-2-179x64.png"
                                                alt="Khwaza Engineering Consultants">
                                        </div>
                                        <div class="details">
                                            <a href="#">
                                                <h5 class="title">Khwaza Engineering Consultants</h5>
                                            </a>
                                            <span>Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <!-- swiper area end -->
                </div>
            </div>
            <!-- end testimonials are -->
            <!-- images area -->
            <div class="col-lg-5">
                <div class="rts-test-one-image-inner">
                    <img src="{% static 'assets/images/testimonials/01.png' %}" alt="business_testimobials">
                </div>
            </div>
            <!-- image area end -->
        </div>
    </div>
</div>
<!-- start client feed back section End -->

<!-- blog area start -->
<div class="rts-blog-area rts-section-gap bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-area text-center">
                    <span>Blog Posts</span>
                    <h2 class="title">News & Updates</h2>
                </div>
            </div>
        </div>
        <div class="g-5 mt--20">
            <div class="swiper mySwiperh1_blog">
                <div class="swiper-wrapper">
                    {% for post in posts %}
                    <div class="swiper-slide">
                        <div class="single-blog-one-wrapper">
                            <div class="thumbnail">
                                <img src="{% if post.image %}{{post.image.url}}{% else %}{% static 'assets/images/blog/details/01.jpg' %}{% endif %}"
                                    alt="business_Blog">
                                <div class="blog-badge">
                                    <span>{{post.created|date:"b d, Y"}}</span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <p><span>{{post.category.label}} </span>/ by Admin</p>
                                <a href="{% url 'goldours_home:details-blog' post.slug %}">
                                    <h5 class="title">{{post.title}} </h5>
                                </a>
                                <a class="rts-read-more btn-primary"
                                    href="{% url 'goldours_home:details-blog' post.slug %}"><i
                                        class="far fa-arrow-right"></i>Read
                                    More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end -->

<!-- map area start -->
<div class="rts-map-area bg-light-white">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- map area left -->
                <div class="mapdetails-inner-one">
                    <div class="left-area single-wized">
                        <h5 class="title">Get in touch</h5>
                        <div class="details">
                            <p>Work and general inquiries</p>
                            <a class="number" href="tel:{{ '0215259188'|obfuscate_phone|safe }}">{{ '0215259188'|obfuscate_phone|safe }}</a>

                            <p class="time-header">
                                Assistance hours:
                            </p>
                            <p class="time">
                                Monday &dash; Friday <br> 8 am to 4 pm SAST
                            </p>
                        </div>
                    </div>
                    <div class="right-area single-wized">
                        <h5 class="title">Post Address</h5>
                        <div class="details">
                            <p>Service Office</p>
                            
                            <a href="https://maps.app.goo.gl/Hha9YFwzbMEMQy9q7" target="_blank" rel="noopener noreferrer">Unit 108, millenium Business Park, <br>
                                19 Edison Way, Century City, Cape Town, 7441</a>

                            <p class="headoffice">
                                Head Office
                            </p>
                            <p class="office">Cape Town, 7441</p>
                        </div>
                    </div>
                </div>
                <!-- map area right -->
            </div>
            <div class="col-lg-6">
                
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.8552267731684!2d18.5044565!3d-33.8933822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5c174917e0c5%3A0x48cc357fd4ac8952!2sGoldOurs%20Strategy%2C%20Governance%2C%20and%20Business%20Leadership%20Development!5e0!3m2!1sen!2sza!4v1737817470185!5m2!1sen!2sza"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</div>
<!-- map area end -->
{% endblock content %}