{% extends '_base.html' %}
{% load static %}

{% block seo %}
<title>Media & Pictures - GoldOurs</title>
<meta name="description"
    content="Stay updated with GoldOurs' latest insights and expert advice on governance, leadership, strategy, and talent development." />
<meta name="keywords"
    content="blog, insights, leadership advice, GoldOurs, governance trends, media, photos, goldours articles, company insights" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Media & Pictures - GoldOurs" />
<meta property="og:description"
    content="Explore GoldOurs' latest articles and insights to empower your business and career." />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:image"
    content="{{request.scheme}}://{{request.get_host}}{% static 'assets/images/logo/logo-2.png' %}">
{% endblock seo %}

{% block content %}
<!-- start breadcrumb area -->
<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h1 class="title">Latest Media Updates</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="{% url 'goldours_home:goldours-home' %}">Home</a>
                    <span> / </span>
                    <a href="#" class="active">Latest Media Updates</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->
<section class="portfolio-area style-4 pt--120 pb--120 pt_xs--60 pt_xs--60">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 tw-overflow-hidden col-md-6 col-sm-12">
                <div class="item tw-overflow-hidden">
                    <div class="portfolio-wrapper tw-overflow-hidden">
                        <div class="img-fluid">
                            
                            <img class="tw-w-[335px] tw-h-[275px]" src="{% if post.image %}{{post.image.url}}{% else %}{% static 'assets/images/no-image.png' %}{% endif %}" alt="{{post.title}}">
                        </div>
                        <div class="single-portfolio">
                            <span>{{post.category.label}}</span>
                            <h4 class="portfolio-title text-white">{{post.title}}</h4>
                        </div>
                        <a class="pf-btn" href="{{post.get_absolute_url}}"><i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock content %}